extends layout
block content

    header All Applications 
        div.p7
            a.btn(href='/newentry') + Add New Application
 
    - console.log(data)
    //.main-content
    //div.list All Applications
    div.All-Applications
        table.tbl-style(border=3)
            tr 
                th Application ID 
                th Company Name 
                th Job Title 
                th Location
                th Status
                th Submission Date
                th Last Update Recieved
                th Documents
            tr 
                for item in data
                    tr
                        td #{item.A_ID} 
                        td #{item.Company_Name} 
                        td #{item.Job_Title}
                        td #{item.Location}
                        td #{item.Status}
                        td #{item.SubmissionDate}
                        td #{item.LastUpdate}
                        td #{item.Documents}
