extends layout
block content
    - console.log(data)
    .main-content

    div.list All Applications
    div.All-Applications
        table(border=1)
            tr 
                th Application ID 
                th Company Name 
                th Job Title 
                th Location
                th Status
                th Submission Date
                th Last Update Recieved
                th Documents
            tr 
                for item in data
                    tr
                        td #{item.A_ID}
                        td
                            a(href='/user/' + item.A_ID) #{item.Company_Name} 
                        td
                            a(href='/user/' + item.A_ID) #{item.Job_Title}
                        td
                            a(href='/user/' + item.A_ID) #{item.Location}
                        td
                            a(href='/user/' + item.A_ID) #{item.Status}
                        td
                            a(href='/user/' + item.A_ID) #{item.SubmissionDate}
                        td
                            a(href='/user/' + item.A_ID) #{item.LastUpdate}
                        td
                            a(href='/user/' + item.A_ID) #{item.Documents}
