extends layout
block content
    - console.log(data)
    .main-content
    div.list All Applications
    div.All-Applications
        table(border=1)
            tr 
                th Application ID 
                th Company Name 
                th Job Title 
                th Location
                th Status
                th Submission Date
                th Last Update Recieved
                th Documents
            for row in applications 
                tr
                    td #{row.A_ID}
                    td #{row.Company_Name}
                    td #{row.Job_Title}
                    td #{row.Location}
                    td #{row.Status}
                    td #{row.SubmissionDate}
                    td #{row.LastUpdate}
                    td #{row.Documents}
                

    