extends layout
block content
    - console.log(data)
    .main-content
    div.list All Applications
    div.All-Applications
        table(border=1)
            tr 
                th Application ID 
                th Company Name 
                th Job Title 
                th Location
                th Status
                th Submission Date
                th Last Update Recieved
                th Documents
            tr 
                for User in User.Applications
                    tr
                        td #{User.id}
                        td
                            a(href='/user/' + User.id) #{User.Name} #{User.email}
                            a(href='/applications/' + Applications.A_ID) #{Applications.Company_Name} #{Applications.Job_Title} #{Applications.Location} #{Applications.Status} #{Applications.SubmissionDate} #{Applications.LastUpdate} #{Applications.Documents} 

    