extends layout
block content
    head 
    title= "Profile Page"

    body
    h1 #{applicant.Name}

    p Applicant ID: #{applicant.A_ID}

    img(src= applicant.image_path width='200px' height='360px')

    h2 Applications
         select
            option(value= 'Heading')
                table  
                    tr 
                        th Application ID |
                        th Company Name |
                        th Job Title |
                        th Location |
                        th Status |
                        th Submission Date |
                        th Last Update |
                        th Documents |  
                    tr 
                for applications in applicant.applications
                    option(value= 'ApplicationDetails') #{applications.company_Name}
    h3 Journal
        select
            option(value= 'Heading')
                table
                    tr
                        th Day of Week | 
                        th I_Notes | 
                        th Feedback |
                    tr 
                for journal in applicant.journal
                    option(value= 'JournalDetails') #{journal.DayOfWeek} | #{journal.I_Notes} | #{journal.Feedback}
   
        
