extends layout
block content
    head 
    title= "Profile Page"

    body
    h1 #{User.Name}

    p User ID: #{User.id}

    img(src= user.image_path width='200px' height='360px')

    h2 Recent Applications
         select
            option(value= 'Heading')
                table  
                    tr 
                        th Application ID |
                        th Company Name |
                        th Job Title |
                        th Location |
                        th Status |
                        th Submission Date |
                        th Last Update |
                        th Documents |  
                    tr 
                for Applications in User.Applications
                    option(value= 'ApplicationDetails') #{Applications.Company_Name} #{Applications.Job_Title} #{Applications.Location} #{Applications.Status} #{Applications.SubmissionDate} #{Applications.LastUpdate} #{Applications.Documents}
    h3 Journal
        select
            option(value= 'Heading')
                table
                    tr
                        th Day of Week | 
                        th I_Notes | 
                        th Feedback |
                    tr 
                for journal in user.journal
                    option(value= 'JournalDetails') #{journal.DayOfWeek} | #{journal.I_Notes} | #{journal.Feedback}
   
        
